<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add data</title>
</head>
<body style="margin: 100px">
    <form action="" method="POST">
        {% csrf_token %}
    <label for="name">Name:</label>
    <input type="text" name="name" id="name" required> <br>
    <label for="email">Email:</label>
    <input type="email" name="email" id="email" required> <br>
    <input type="submit" value="Submit">
    </form>
    <br>
        <a href="list">list datas</a>
</body>
</html>